@media only screen and (max-width: 1083px) {
  /* line 4, ../scss/responsive.scss */
  .menu {
    display: none;
  }

  /* line 8, ../scss/responsive.scss */
  .dl-menuwrapper {
    display: block;
    position: absolute;
    text-align: right;
    right: 0;
    margin-left: 0px;
    max-width: none;
    top: 17px;
  }

  /* line 17, ../scss/responsive.scss */
  .dl-trigger {
    width: 40px;
    height: 40px;
    text-indent: -900em;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
    outline: none;
    top: -2px;
    float: right;
    right: 0px;
    outline: none;
    margin-right: 30px;
    background: #323548;
    border: 2px solid #323548;
  }
  /* line 32, ../scss/responsive.scss */
  .dl-trigger:after {
    content: '';
    position: absolute;
    width: 61%;
    height: 3px;
    background: #fff;
    top: 8px;
    left: 21%;
    box-shadow: 0 8px 0 #fff, 0 16px 0 #fff;
  }

  /* line 43, ../scss/responsive.scss */
  .dl-menu {
    display: none;
    width: 100%;
    top: 58px;
    left: 0;
    position: absolute;
    background: #2A2C3C;
    text-align: left;
  }
  /* line 51, ../scss/responsive.scss */
  .dl-menu a {
    display: block;
    position: relative;
    padding: 15px 20px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    color: #fff;
    outline: none;
  }

  /* line 65, ../scss/responsive.scss */
  .slider img {
    max-width: 100%;
    height: auto;
  }

  /* line 71, ../scss/responsive.scss */
  .pdp-description {
    width: 100%;
  }

  /* line 76, ../scss/responsive.scss */
  #footer {
    width: 100%;
  }
}
@media only screen and (max-width: 1083px) and (min-width: 768px) {
  /* line 83, ../scss/responsive.scss */
  .container {
    width: 768px;
    margin: 0 auto;
  }

  /* line 89, ../scss/responsive.scss */
  .dl-menuwrapper {
    width: 770px;
  }

  /* line 94, ../scss/responsive.scss */
  #header-top {
    width: 518px;
    position: relative;
  }

  /* line 100, ../scss/responsive.scss */
  #header {
    width: 30%;
  }

  /* line 103, ../scss/responsive.scss */
  .dl-menu {
    left: 2px;
    width: 768px;
  }

  /* line 109, ../scss/responsive.scss */
  #logo {
    width: 230px;
  }

  /* line 114, ../scss/responsive.scss */
  #cart {
    margin-right: 70px;
    padding: 25px 15px 25px;
  }
  /* line 117, ../scss/responsive.scss */
  #cart .heading {
    padding-left: 25px;
  }

  /* line 123, ../scss/responsive.scss */
  .content {
    width: 70%;
  }
  /* line 125, ../scss/responsive.scss */
  .content:before {
    width: 230px;
    left: -230px;
  }
  /* line 129, ../scss/responsive.scss */
  .content .box-heading {
    padding-left: 45px;
  }

  /* line 133, ../scss/responsive.scss */
  .plp-product {
    margin-left: 45px;
  }

  /* line 138, ../scss/responsive.scss */
  #footer .column {
    min-width: 140px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 148, ../scss/responsive.scss */
  .container {
    width: 100%;
    margin-top: 0;
  }

  /* line 153, ../scss/responsive.scss */
  #logo {
    width: 100%;
  }

  /* line 157, ../scss/responsive.scss */
  #header-top {
    position: relative;
    top: 75px;
    width: 100%;
    margin-left: 0;
  }

  /* line 165, ../scss/responsive.scss */
  .dl-menuwrapper {
    width: 100%;
  }

  /* line 168, ../scss/responsive.scss */
  .dl-trigger {
    top: -75px;
    right: -10px;
  }

  /* line 174, ../scss/responsive.scss */
  .column-left {
    display: none;
  }

  /* line 179, ../scss/responsive.scss */
  .content {
    margin-top: 70px;
    padding-top: 10px;
    width: 100%;
  }

  /* line 186, ../scss/responsive.scss */
  .slider img {
    margin-top: 75px;
  }

  /* line 191, ../scss/responsive.scss */
  .box-product {
    text-align: center;
  }

  /* line 196, ../scss/responsive.scss */
  .pdp-images {
    display: block;
    width: 310px;
    margin: 0 auto;
  }
  /* line 200, ../scss/responsive.scss */
  .pdp-images img {
    max-height: 392px;
  }

  /* line 204, ../scss/responsive.scss */
  .pdp-main-image {
    float: none;
    width: 100%;
  }

  /* line 208, ../scss/responsive.scss */
  .pdp-image-additional {
    width: 100%;
    clear: right;
  }
  /* line 211, ../scss/responsive.scss */
  .pdp-image-additional img {
    width: 74px;
  }

  /* line 215, ../scss/responsive.scss */
  .product-compare {
    width: 320px;
    margin: 0 auto;
  }
  /* line 218, ../scss/responsive.scss */
  .product-compare .plp-product-image {
    max-width: 140px;
    min-width: 0;
  }
  /* line 221, ../scss/responsive.scss */
  .product-compare .plp-product-image img {
    height: 180px;
  }

  /* line 229, ../scss/responsive.scss */
  .cart-info .productId {
    display: none;
  }
  /* line 232, ../scss/responsive.scss */
  .cart-info td {
    padding: 8px 2px;
    font-size: 11px;
  }

  /* line 239, ../scss/responsive.scss */
  #userForm .buttons {
    margin: 60px 0;
  }
  /* line 241, ../scss/responsive.scss */
  #userForm .buttons a {
    padding: 10px 20px;
    margin-right: 15px;
  }
  /* line 245, ../scss/responsive.scss */
  #userForm .buttons .center {
    float: right;
  }
  /* line 249, ../scss/responsive.scss */
  #userForm .product-quantity {
    padding: 0 2px;
  }
  /* line 252, ../scss/responsive.scss */
  #userForm .quantity img {
    width: 6px;
    height: 6px;
  }

  /* line 258, ../scss/responsive.scss */
  .cart-total-amount {
    margin-right: 15px;
    font-size: 13px;
  }

  /* line 264, ../scss/responsive.scss */
  .checkout-content input {
    width: 96%;
    padding: 4px 2%;
  }

  /* line 268, ../scss/responsive.scss */
  .checkout-heading {
    width: 98%;
    padding-left: 3%;
  }

  /* line 272, ../scss/responsive.scss */
  .checkout-ty {
    position: relative;
    margin: 150px 0;
  }

  /* line 278, ../scss/responsive.scss */
  #footer .column {
    display: block;
    margin: auto;
  }
}
