// Tablet and mobile
@media only screen and (max-width: 1083px) {
  //Navigation
  .menu {
    display: none;
  }

  .dl-menuwrapper {
    display: block;
    position: absolute;
    text-align: right;
    right: 0;
    margin-left: 0px;
    max-width: none;
    top: 17px;
  }
  .dl-trigger {
    width: 40px;
    height: 40px;
    text-indent: -900em;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
    outline: none;
    top: -2px;
    float: right;
    right: 0px;
    outline: none;
    margin-right: 30px;
    background: #323548;
    border: 2px solid #323548;
    &:after {
      content: '';
      position: absolute;
      width: 61%;
      height: 3px;
      background: #fff;
      top: 8px;
      left: 21%;
      box-shadow: 0 8px 0 #fff, 0 16px 0 #fff;
    }
  }
  .dl-menu {
    display: none;
    width: 100%;
    top: 58px;
    left: 0;
    position: absolute;
    background: #2A2C3C;
    text-align: left;
    a {
      display: block;
      position: relative;
      padding: 15px 20px;
      font-size: 12px;
      line-height: 20px;
      font-weight: 600;
      color: #fff;
      outline: none;
    }
  }


  //Slider
  .slider img {
    max-width: 100%;
    height: auto;
  }

  // PDP
  .pdp-description {
    width: 100%;
  }

  // Footer
  #footer {
    width: 100%;
  }
}

// Tablet
@media only screen and (max-width: 1083px) and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }

  // Navigation
  .dl-menuwrapper {
    width: 770px;
  }

  //Header-top
  #header-top {
    width: 518px;
    position: relative;
  }

  //Header
  #header {
    width: 30%;
  }
  .dl-menu {
    left: 2px;
    width: 768px;
  }

  //Logo
  #logo {
    width: 230px;
  }

  //Cart
  #cart {
    margin-right: 70px;
    padding: 25px 15px 25px;
    .heading {
      padding-left: 25px;
    }
  }

  //Content
  .content {
    width: 70%;
    &:before {
      width: 230px;
      left: -230px;
    }
    .box-heading {
      padding-left: 45px;
    }
  }
  .plp-product {
    margin-left: 45px;
  }

  // Footer
  #footer .column {
    min-width: 140px;
  }

}

//Mobile

@media only screen and (max-width: 768px) {

  .container {
    width: 100%;
    margin-top: 0;
  }

  #logo {
    width: 100%;
  }

  #header-top {
    position: relative;
    top: 75px;
    width: 100%;
    margin-left: 0;
  }

  // Navigation
  .dl-menuwrapper {
    width: 100%;
  }
  .dl-trigger {
    top: -75px;
    right: -10px;
  }

  // Left column
  .column-left {
    display: none; // temp solution
  }

  // Content
  .content {
    margin-top: 70px;
    padding-top: 10px;
    width: 100%;
  }

  //Slider
  .slider img {
    margin-top: 75px;
  }

  // Product-box
  .box-product {
    text-align: center;
  }

  // PDP
  .pdp-images {
    display: block;
    width: 310px;
    margin: 0 auto;
    img {
      max-height: 392px;
    }
  }
  .pdp-main-image {
    float: none;
    width: 100%;
  }
  .pdp-image-additional {
    width: 100%;
    clear: right;
    img {
      width: 74px;
    }
  }
  .product-compare {
    width: 320px;
    margin: 0 auto;
    .plp-product-image {
      max-width: 140px;
      min-width: 0;
      img {
        height: 180px;
      }
    }
  }

  // Cart
  .cart-info {
    .productId {
      display: none;
    }
    td {
      padding: 8px 2px;
      font-size: 11px;
    }
  }

  #userForm {
    .buttons {
      margin: 60px 0;
      a {
        padding: 10px 20px;
        margin-right: 15px;
      }
      .center {
        float: right;
      }
    }
    .product-quantity {
      padding: 0 2px;
    }
    .quantity img {
      width: 6px;
      height: 6px;
    }
  }

  .cart-total-amount {
    margin-right: 15px;
    font-size: 13px;
  }

  // Checkout
  .checkout-content input {
    width: 96%;
    padding: 4px 2%;
  }
  .checkout-heading {
    width: 98%;
    padding-left: 3%;
  }
  .checkout-ty {
    position: relative;
    margin: 150px 0;
  }

  // Footer
  #footer .column {
    display: block;
    margin: auto;
  }
}

